/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
#region-branding {
  height: 200px;
  background-image: url(https://www.e-education.psu.edu/sites/all/themes/dutton/css/dutton-header-940x200.jpg);
  margin-top: 10px;    /* added this line to make space around image as per Ann's instruction */
}

