/* || global.css ||
This file will hold styles for the mobile version of your website
(mobile first). This also can include ANY global CSS that applies
site-wide. Unless overwritten by a more specific style rule, CSS
declarations in global.css will apply site-wide. 
*/

body {
  font-family: Georgia;  
  padding: 0px;
  margin: 0px;
}
div.content {
  font-family: Georgia;  
  font-size: 16px;
}

/* site name and mission at top of page */

#region-header-first                 { background-color: #000000; padding: 0px; font-family: "Open Sans", sans-serif; font-weight: 700; color: #ffffff; }
#region-header-first a               { display: none; }
#region-header-first span#site-name  { font-family: "Open Sans", sans-serif; font-size: 1.5em; padding-bottom: 2px; padding-left: 4px; }
#region-header-first span#mission    { font-family: "Open Sans", sans-serif; text-align: left; font-size:  16px; display: none; } 
#region-header-first p               { text-align: left; margin-bottom: 3px; }

/* #region-branding { background: black; color: white; } */

#section-content article { padding: 0em 1em 0em 0em; }
#section-content li      { font-size: 16px; }
article                  { }
article p                { margin-top: 0px; padding-top: 0px; }

#region-menu {
  margin-top: 2px;
  margin-bottom: 0px;
  padding-bottom: 1px;
  border-bottom: 1px solid black;
  background-color: #e8e8e8;
}
ul#main-menu {
  max-width: 320px;
}
ul#main-menu li {
  width: 100%;
  margin:  0px 8px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
ul#main-menu a {
  margin:  0px 0px 0px 0px;
  padding: 0px 2px 0px 2px;
  color: black;
  text-decoration: none;
  width: 100%;
}
ul#main-menu a.active {
  background-color: black;
  color: white;
}

/* HEADINGS headings */
h1, h2, h3, h4 { font-weight: bold; font-family: "Open Sans", sans-serif; }

h1 { font-size: 1.4em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.1em; }
h4 { font-size: 1.0em; }

h2.node-title, h2.node-title a {
  color: black;
}

h2.node-title {
  letter-spacing: .02px;
  margin: 0;
}
h1#page-title {
  padding-top: 0em;
  margin-top: 0em;
  padding-bottom: 5px;
}

















/*  <div class="content clearfix">
    <div class="field >
    <div class="field-items">
    <div class="field-item even"> */



article#node-article-11 div.content div.field {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 1em;
  border-left: 1px solid gray;
  font-style: italic;
}
article#node-article-11 ul.links {
  display: none;
}
article#node-article-11 header {
  margin-top: 0px;
  padding-top: 0px;
  display: none;
}

div#region-content ul    { 
} 

div#region-content ul li { 
  margin: 10px 0px 0px 20px; 
}

div#region-content ul li.views-row {
  margin: 10px 0px 0px 0px; 
}

div#region-content ul li.views-row header {
  font-size: 80%;
}

div#region-content ul li.views-row .field-name-field-publication-date,
article.node-blog-post span.date-display-single {
  display: block;
  margin: 10px 0px 10px 0px;
  font-style: italic;
  font-size: 95%;
}

/* ASIDE */

aside {
  font-family: "Open Sans", sans-serif;
}

aside li {
  line-height: 17px;
  padding-bottom: 5px;
}

aside#region-sidebar-second { 
  color: black;
} 
aside#region-sidebar-second div.region-inner { 
}

/* to style each 'part' of the menu aside */

aside#region-sidebar-second ul    { margin: 0px 0px 0px  0px; }
aside#region-sidebar-second li    { margin: 11px 0px 0px 20px; }

aside#region-sidebar-second section      { /* margin: 0px 3px 6px 3px; padding: 8px 8px 5px 8px;*/ }
aside#region-sidebar-second .block-inner { padding: 0px; }

aside.region-sidebar-second a { color: #000000; text-decoration: none; }
aside.region-sidebar-second a:hover { color: #000000; text-decoration: underline; }



section#block-search-form, 
section#block-menu-menu-internal-resources, 
section#block-aggregator-feed-1,
section#block-node-recent, 
section#block-views-blog-posts-block,
section#block-views-news-list-block      { margin-bottom: 5px; border-top: 2px solid black; }

section#block-search-form a, section#block-node-recent a, section#block-views-news-list-block a {
  color: #000000;
}

section#block-aggregator-feed-2 {
  color: red;
  font-size: 20px;
}

section#block-aggregator-feed-2 .more-link {
  display: none;
}

section#block-aggregator-feed-2 li {
}


section#block-aggregator-feed-2 li,
section#block-aggregator-feed-1 li,
section#block-views-blog-posts-block li, 
section#block-views-news-list-block li {
  padding-left: 0px ! important;
  margin-left: 0px ! important;
  font-size: 16px;
  color: #000000;
  padding-top:    0px;
  padding-bottom: 0px;
}

section#block-views-blog-posts-block li {
  padding-top:    3px;
  padding-bottom: 3px;
}



/* ASIDE END */


.hidden {
  visibility: hidden;
}

div.feed-icon {
  margin: 10px 0 5px 0;
}


/* ZONE POSTSCRIPT */
div#zone-postscript-wrapper {
}
div#zone-postscript {
  margin-top: 20px;
}

div#zone-postscript h2.block-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1em;
}

div#zone-postscript {
}

/*
div#region-postscript-first ul  {
  background-color: pink;
  margin-left: 0px 0px 0px 10px ;
  padding-left: 0px 0px 0px 10px ;
}
*/

div#zone-postscript a, div#zone-postscript li, div#zone-postscript p {
  color: #000000;
  /* font-family: Georgia, serif; */
}

div#region-postscript-first, div#region-postscript-second, 
div#region-postscript-third, div#region-postscript-fourth {
  border-top: 1px solid #000000; 
  padding-top: 0px;
  padding-bottom: 10px;
}

/* ZONE POSTSCRIPT END */

/* RECENT CONTENT */
section#block-node-recent table {
  border: none;
}
section#block-node-recent .more-link { display: none; } 
section#block-node-recent .marker    { display: none; }
section#block-node-recent .username  { display: none; }

section#block-node-recent tr.odd td, 
section#block-node-recent tr.even td { background: #ffffff; border-bottom: 1px solid #ffffff; }
section#block-node-recent td.title-author { padding-left: 0px; }

/* RECENT CONTENT END */

tr.even a , tr.odd a {
  color: #000000;
}

.node-links ul li a, .comment-links ul li a {
  margin-bottom: 1em;
}

body.page-node-16 h1 {
  display: none;
}

article#node-page-16 p {
  /* border-left: 1px solid #000000;
  padding-left: 10px; */
}

.view-news-list li {
  margin: 0px 0px 10px 0px ! important;
  padding: 0px 0px 0px 0px ! important;
}

/* mjg8 */
ul.menu li {
  margin: 0px 0px 10px 0px ! important;
  padding: 0px 0px 0px 0px ! important;
}

ul.menu li {
  list-style: none ! important;
  font-size: 12px;
}

h2.block-title {
  padding-bottom: 10px;
}


/*
ul.menu li a { color: #000000; text-decoration: none; }
ul.menu li a:hover { color: #000000; text-decoration: underline; }
.view-news-list a { text-decoration: none; color: #000000; }
.view-news-list a:hover { text-decoration: underline; }
*/



table.gisethics {
  border-collapse: collapse;
  border: 1px solid #cccccc;
}

table.gisethics img {
  border: 1px solid black;
  margin-top: 6px;
}

table.gisethics td {
  vertical-align: top;
  border: 1px solid #aaa;
  font-size: 14px;
}

table.gisethics td a {
  color: #000000;
}

h4.ethicsurl, h4.ethicslinks {
  font-size: 14px ! important;
  text-align: center;
}

div#aliases h2 {
  margin: 15px 0px 5px 0px;
}

div#aliases p {
  margin: 10px 0px 0px 0px;
  padding: 0;
}

div#aliases h3 {
  margin: 20px 0px 10px 0px;
 padding: 0;
}

div#aliases table {
  border: none;
}
div#aliases td {
  vertical-align: top;
  margin: 0; padding: 0;
}

div#aliases ul {
  margin-bottom: 10px;
}

div#aliases td ul li, div#aliases td ul, div#aliases ul li, div#aliases ul {
  margin: 0; padding: 0;
  list-style-type: none;
}

tbody {
  border: none ! important;
}

/* FOOTER */

div#region-footer-first {
  padding: 5px 0px 5px 0px;
  text-align: left;
}


footer h2.block-title {
  font-size: 14px;
  padding-bottom: 2px;
}

footer a {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  font-weight: old;
}

footer a { text-decoration: none ! important; }
footer a:hover { text-decoration: underline ! important; }

table.techspecs {
  border-collapse: collapse;
}


table.techspecs td, table.techspecs th {
  border: 1px solid #000000;
  vertical-align: top;
}

table.techspecs th {
  font-weight: bold;
}



video             { width: 100% !important; height: auto !important; }
.video-wrapper          { position: relative !important; padding-bottom: 56.25% !important; padding-top: 25px !important; height: 0 !important; margin-bottom: 15px; }
    .video-wrapper iframe,
    .video-wrapper object,
    .video-wrapper embed
                  { position: absolute !important; top: 0 !important; left: 0 !important; width: 100% !important; height: 100% !important; min-height: 100% !important; }



#page .video-center     { border: 0; margin-bottom: 20px; width: 100%; text-align:center; }
#page .youtube        { height: 315px; width: 560px;}
#page .video-center embed, #page .video-center  iframe


      { height: 315px; width: 560px;}
#page .video-center embed { max-width: 100%; }
#page div.video-center img  { padding: 10px 0px; }

